@model Abacus.Models.Cart

@{
    ViewBag.Title = "Details";
}

<div class="container">
    <div class="row">
        <div class="col-sm-11"><h2>Cart # @Model.CartNumber</h2></div>
        @*<div class="col-sm-1"><h2>@Html.ActionLink("Edit", "Edit", new { id = Model.Id })</h2></div>*@
        <a href="/Carts/Edit?Id=@Model.Id" class="btn btn-info" role="button">Edit</a>
    </div>
</div>
<hr />

<h4>Cart Details</h4>
<div class="container">
    <div class="row">
        <div class="col-sm-2"><label>Cart Number</label></div>
        <div class="col-sm-2 text-right">@Model.CartNumber</div>
        <div class="col-sm-2 col-sm-offset-1"><label>Buyer Username</label></div>
        <div class="col-sm-2">@Model.Buyer.HDBUserName</div>
        
    </div>
    <div class="row">
        <div class="col-sm-2"><label>Date</label></div>
        <div class="col-sm-2 text-right">@Html.DisplayFor(model => model.SaleDate)</div>
        <div class="col-sm-2 col-sm-offset-1"><label>Buyer Email</label></div>
        <div class="col-sm-2">@Model.BuyerEmail.EmailAddress</div>
    </div>
    <div class="row">
        <div class="col-sm-2"><label>Number of Items</label></div>
        <div class="col-sm-2 text-right">@Html.DisplayFor(model => model.NumberOfItems)</div>
    </div>
</div>
<hr />

<h4>Cart values in $</h4>
<div class="container">
    <div class="row">
        <div class="col-sm-2"><label>Overall Value</label></div>
        <div class="col-sm-2 text-right">@string.Format("$ {0:0.00}", Model.TotalValue)</div>
        <div class="col-sm-2 col-sm-offset-1"><label>hobbyDB Fees</label></div>
        <div class="col-sm-2 text-right">@string.Format("$ {0:0.00}", Model.HobbyDBFees)</div>
    </div>
    <div class="row">
        <div class="col-sm-2"><label>Items Value</label></div>
        <div class="col-sm-2 text-right">@string.Format("$ {0:0.00}", Model.ItemCost)</div>
        <div class="col-sm-2 col-sm-offset-1"><label>PayPal Fees</label></div>
        <div class="col-sm-2 text-right">@string.Format("$ {0:0.00}", Model.PayPalFees)</div>    </div>
    <div class="row">
        <div class="col-sm-2"><label>Shipping Cost</label></div>
        <div class="col-sm-2 text-right">@string.Format("$ {0:0.00}", Model.ShippingCost)</div>
        <div class="col-sm-2"></div>
        <div class="col-sm-2"></div>
    </div>
</div>
<hr />

<h4>Seller Details</h4>
<div class="container">
    @foreach (var transaction in Model.Transactions)
    {
        <div class="row">
            <div class="col-sm-2"><label>Username</label></div>
            <div class="col-sm-3">@transaction.Seller.HDBUserName</div>
            <div class="col-sm-2"><label>Tracking #</label></div>
            <div class="col-sm-2 text-right">@transaction.ShippingRecord.TrackingNumber</div>
        </div>
        <div class="row">
            <div class="col-sm-2"><label>Name</label></div>
            <div class="col-sm-2">@string.Format("{0} {1}",transaction.Seller.FirstName, transaction.Seller.LastName)</div>
        </div>
        <div class="row">
            <div class="col-sm-2"><label>Email</label></div>
            <div class="col-sm-3">@transaction.Seller.PreferredEmail.EmailAddress</div>
            <div class="col-sm-2"><label># Items</label></div>
            <div class="col-sm-2 text-right">@string.Format("{0}", transaction.NumOfItems)</div>
        </div>
        <div class="row">
            <div class="col-sm-2"><label>PayPal</label></div>
            <div class="col-sm-3">@transaction.Seller.PayPalEmail.EmailAddress</div>
            <div class="col-sm-2"><label>Payout</label></div>
            <div class="col-sm-2 text-right">@string.Format("$ {0:0.00}", transaction.PayOut)</div>
        </div>
        <div class="row">
            <div class="col-sm-2"><label>Item Cost</label></div>
            <div class="col-sm-2 text-right">@string.Format("$ {0:0.00}", transaction.ItemCosts)</div>
            <div class="col-sm-2 col-sm-offset-1"><label>hobbyDB Fees</label></div>
            <div class="col-sm-2 text-right">@string.Format("$ {0:0.00}", transaction.HobbyDBFees)</div>
        </div>
        <div class="row">
            <div class="col-sm-2"><label>Shipping Cost</label></div>
            <div class="col-sm-2 text-right">@string.Format("$ {0:0.00}", transaction.ShippingCost)</div>
            <div class="col-sm-2 col-sm-offset-1"><label>PayPal Fees</label></div>
            <div class="col-sm-2 text-right">@string.Format("$ {0:0.00}", transaction.PayPalFees)</div>
        </div>
        <br/>
    }
</div>
<hr />
<p>
    @*@Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |*@
    @Html.ActionLink("Back to Carts", "Index")
</p>
