@model IEnumerable<Abacus.Models.Cart>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Buyer.HDBUserName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BuyerEmail.EmailAddress)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CartNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SaleDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NumberOfItems)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NumberOfSellers)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TotalValue)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ItemCost)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ShippingCost)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PayPalFees)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Buyer.HDBUserName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BuyerEmail.EmailAddress)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CartNumber)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SaleDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NumberOfItems)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NumberOfSellers)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TotalValue)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ItemCost)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ShippingCost)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PayPalFees)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
