@model IEnumerable<Abacus.Models.Cart>

@{
    ViewBag.Title = "Index";
}

<h2>Carts</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
@Html.Partial("_CartList", Model)

@*<table class="table">
    <tr>
        <th>
            Seller 
        </th>
                <th>
            Buyer
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CartNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SaleDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NumberOfItems)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TotalValue)
        </th>

        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @if (item.Transactions.Count > 0)
            {
                @item.Transactions.First().Seller.HDBUserName;
            }
        </td>        
        <td>
            @Html.DisplayFor(modelItem => item.Buyer.HDBUserName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CartNumber)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SaleDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NumberOfItems)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TotalValue)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}
</table>*@
