@model IEnumerable<Abacus.Models.TransactionRecord>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Cart.Id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Seller.HDBUserName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ShippingRecord.TrackingNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ItemCosts)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ShippingCost)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Fees)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Cart.Id)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Seller.HDBUserName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ShippingRecord.TrackingNumber)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ItemCosts)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ShippingCost)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Fees)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
