@model Abacus.Models.UserRecord

@{
    ViewBag.Title = "Details";
}
<script>
    function DisplayDetails() {        
        xhttp = new XMLHttpRequest();
        xhttp.onreadystatechange = function () {
            var ctrl = document.getElementById("dynamicContent");
            if (this.readyState == 4 && this.status == 200) {
                ctrl.innerHTML = this.responseText;
            }
            else {
                ctrl.innerHTML = "";
            }
        };
        xhttp.open("GET", "/UserRecords/UserDetails?Id=@Model.Id", true);
        xhttp.send();
    }
    function DisplayCarts() {
        xhttp = new XMLHttpRequest();
        xhttp.onreadystatechange = function () {
            var ctrl = document.getElementById("dynamicContent");
            if (this.readyState == 4 && this.status == 200) {
                ctrl.innerHTML = this.responseText;
            }
            else {
                ctrl.innerHTML = "";
            }
        };
        xhttp.open("GET", "/UserRecords/UserCarts?Id=@Model.Id", true);
        xhttp.send();
    }
</script>

<h2>Buyer / Seller Details</h2>
<table class="table">
    <tr>
        <td class="col-sm-1">hobbyDB</td>
        <td class="col-sm-2">@Model.HDBUserName</td>
        <td class="col-sm-1" rowspan="2">Notes</td>
        <td class="col-sm-7" rowspan="2">@Model.Notes</td>
    </tr>
    <tr>
        <td class="col-sm-1">Name</td>
        <td class="col-sm-2">@Model.FirstName @Model.LastName</td>
    </tr>
</table>     

<button type="button" class="btn btn-default" onclick="DisplayDetails()">Details</button>
<button type="button" class="btn btn-default" onclick="DisplayCarts()">Carts</button>
<button type="button" class="btn btn-default" onclick="DisplayPayOuts()">Pay Outs</button>

<div id="dynamicContent">
   
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
