@model Abacus.ViewModel.UserRecordIndexVM
<script src="@Url.Content("~/Scripts/jquery.unobtrusive-ajax.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.js")" type="text/javascript"></script>

@{
    var search = Session["UserRecordSearch"];
    var iSearch = search as Abacus.Models.Interfaces.ISearchType;

    ViewBag.Title = "Index";
}
<script>
    function SearchOptionChange(option, loadSession) {
        if (option == "") {
            option = document.getElementById("SearchOptions").value;

            // The following checks to see if the user "closes" the Search by pressing the search button again
            var ctrl = document.getElementById('searchButton');
            if (ctrl.getAttribute('aria-expanded')) {
                // Search "closed", set the search filter to none and refresh
                option = 'None';
                document.getElementById("SearchOptions").value = option;
                ExecuteSearch();
            }
        }
        xhttp = new XMLHttpRequest();
        xhttp.onreadystatechange = function () {
            if (this.readyState == 4 && this.status == 200) {
                document.getElementById("userrecords_search_criteria").innerHTML = this.responseText;
            }
        };
        xhttp.open("GET", "/UserRecords/SearchOptions?type=" + option + "&LoadSession=" + loadSession, true);
        xhttp.send();
    }
    function ExecuteSearch() {
        var option = document.getElementById("SearchOptions").value;
        if (option != "") {
            var data = "";
            if (option != "None") {
                data = document.getElementById(option).value;
                if (data == "")
                    return;
            }
            xhttp = new XMLHttpRequest();
            xhttp.onreadystatechange = function () {
                if (this.readyState == 4 && this.status == 200) {
                    document.getElementById("UserRecordsListing").innerHTML = this.responseText;
                    RefreshSomeEventListener();
                    var option = document.getElementById("SearchOptions").value;
                    sessionStorage.setItem("lastUserSearch", option);
                    sessionStorage.setItem("lastUserResult", this.responseText);
                }
                else {
                    document.getElementById("UserRecordsListing").innerHTML = "";
                }
            };
            xhttp.open("GET", "/UserRecords/ProcessSearch?type=" + option + "&value=" + data, true);
            xhttp.send();
        }
    }
</script>
<h2>Buyer / Seller records</h2>


<div class="row">
    <button type="button" class="btn editor-user_record" data-id="0" data-toggle="modal" data-target="#editor-user_record" data-title="Create Buyer / Seller" data-dlg_target="UserRecordsListing" id="AddUser" name="AddUser">Add Buyer / Seller</button>
    <button type="button" class="btn btn-default" id="searchButton" data-toggle="collapse" data-target="#searchUserRecords" onclick="SearchOptionChange('', false)">Search</button>
</div>
<div class="collapse" id="searchUserRecords">
    <div id="SearchBar">
        <br />
        <div class="col-sm-3">@Html.DropDownList("SearchOptions", Model.SearchOptions, htmlAttributes: new { @class = "form-control", onchange = "SearchOptionChange(this.value, false)" })</div>
        <div class="col-sm-8" id="userrecords_search_criteria"></div>
        <div><button type="button" class="btn editor-container col-sm-1" data-id="0" data-usertype="buyer" onclick="ExecuteSearch()" data-toggle="modal" data-target="#editor-container">Apply</button></div>
        <br />
        <br />
    </div>
</div>
<div id="UserRecordsListing">
    @Html.Partial("_UserList", Model.UserRecords)
</div>

<div class="modal" id="editor-user_record" tabindex="-1" role="dialog" aria-labelledby="editor-title">
    <div class="modal-dialog" role="document">
        <div class="modal-content" id="editor-content-user_record"></div>
    </div>
</div>

@section scripts
{
    <script type="text/javascript">
        function RefreshSomeEventListener() {
            $('.editor-user_record').off();

            $('.editor-user_record').on("click", (function () {
                var pid = $(this).attr('data-id');
                var defType = $(this).attr('data-usertype');
                var id = $(this).attr('id');
                var title = $(this).attr('data-title');
                var target = $(this).attr('data-dlg_target');
                var ctl = "UserRecords";
                var method = "HobbyDBUser";
                var successMethod = "successMethod";
                var failMethod = "failureMethod";
                //var target = if (id[0]=='') ?
                var url = "/Carts/HobbyDBUserDialog?Id=" + pid +
                    "&UserType=" + defType +
                    "&dlgTitle=" + title +
                    "&dlgTarget=" + target +
                    "&dlgCtrl=" + ctl +
                    "&dlgMethod=" + method +
                    "&dlgSuccess=" + successMethod +
                    "&dlgFailure=" + failMethod +
                    "&dlgTime=" + Date.now().toString(); // HACK, This should keep the page from being cached
                $.ajax({
                    url: url,
                    cache: false,
                    success: function (data) {
                        $('#editor-content-user_record').html(data);
                        $('#editor-user_record').modal('show');
                    }
                });
            }));

            $('#editor-user_record').on('shown.bs.modal', function () {
                jQuery.validator.unobtrusive.parse($(this));
            })

            $('#editor-user_record').on('hidden.bs.modal', function () {
                $('#editor-content-user_record').html("");
                $(this).removeData('bs.modal');

            });
        }

        function successMethod(data, status, xhr) {
            $('#editor-content-user_record').html("");
            $('#editor-user_record').modal('hide');

           RefreshSomeEventListener();
        }

        function failureMethod(xhr, status, error) {
            $('#editor-user_record').modal('show');
        }

        $(document).ready(function () {
            // Other ready commands / code

            if (sessionStorage.lastUserSearch) {
                var option = sessionStorage.lastUserSearch;
                if (option != "None")
                { $('#searchUserRecords').collapse(); }
                document.getElementById('SearchOptions').value = option;
                SearchOptionChange(option, true);
                document.getElementById("UserRecordsListing").innerHTML = sessionStorage.lastUserResult;
            }

            // Call our function to setup initial listening
            RefreshSomeEventListener();
        });
    </script>
}

